<!DOCTYPE html>
<html>
<head>
	<!-- header content -->
	<% include("/header.html"){}%>
	<link rel="stylesheet" href="/static/bootstrap/css/jquery.jsonview.css">
	<!-- header content -->
	<!-- css属性 -->
	<style type="text/css">
		.fix_th {width:150px}
	</style>
	<!-- css属性 -->
</head>

<body>
<div class="container">	
	<!-- Nav Bar Content -->
	<% include("/nav_bar.html",{mockdataProject:"active",testTool:"active"}){}%>
	<!-- Nav Bar Content -->


	<!-- mockdata画面 -->
	<div class="panel panel-default">
	    <div class="panel-body">
			<p class="text-muted">mock服务状态：<span class="label label-primary">正常</span> 或 <span class="label label-danger">已经停止</span></p>
			<p class="text-muted">mock服务重启：<button type="button" class="btn btn-primary btn-sm">重启</button></p>
			<p class="text-muted">mock服务停止：<button type="button" class="btn btn-default btn-sm">停止</button></p>				
		</div>

					    			
	</div>
	<table class="table">
		<caption>mockData信息描述</caption>
	   <thead>
		  <tr>
			 <th>ID</th>
		  	 <th>项目名称</th>
			 <th>项目描述</th>
			 <th>查看接口</th>
			 <th>操作</th>
		  </tr>
	   </thead>
	   <tbody>
		  <tr>
		     <td>1</td>
			 <td>煤炭江湖</td>
			 <td>煤炭江湖</td>
			 <td><a href="#" data-toggle="modal" data-target="#myModal">点击查看</a></td>
			 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
		  </tr>
		  <tr>
		     <td>2</td>
			 <td>煤炭江湖</td>
			 <td>煤炭江湖</td>
			 <td><a href="/mockdata/project/mockdataList">点击查看</a></td>
			 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
		  </tr>
		  <tr>
		     <td>3</td>
			 <td>煤炭江湖</td>
			 <td>煤炭江湖</td>
			 <td><a href="#">点击查看</a></td>
			 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
		  </tr>
		  <tr>
		     <td>4</td>
			 <td>煤炭江湖</td>
			 <td>煤炭江湖</td>
			 <td><a href="#">点击查看</a></td>
			 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
		  </tr>
		  
	   </tbody>
	</table>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:80%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						什么什么项目的接口详细信息
					</h4>
				</div>
				<div class="modal-body">
						<table class="table">
						   <thead>
							  <tr>
								 <th class="fix_th">接口 url</th>
								 <th class="fix_th">请求方法 method</th>
								 <th class="fix_th">返回状态 status</th>
								 <th>bodyFileName</th>
								 <th class="fix_th">请求头 headers</th>
								 <th>完整参数</th>	
								 <th class="fix_th">操作</th>
							  </tr>
						   </thead>
						   <tbody>
							  <tr>
								 <td>/api/test</td>
								 <td>GET</td>
								 <td>200</td>
								 <td>暂无</td>
								 <td>{"Content-Type": "application/json"}</td>
								 <td data-toggle="tooltip" title="点击格式化Json">{
										"request": {
											"method": "POST",
											"url": "/api/products",
											  "bodyPatterns": [
													 {"equalToJson" : "{ \"name\": \"new product\", \"creator\": \"tester\", \"createTime\": \"2015-09-07\" }", "jsonCompareMode": "LENIENT"}
											 ]
										},
										"response": {
											"status": 201,
											"body": "Add successfully.",
											 "headers":{
													   "x-token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
											 }
										}

									}</td>
								 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
								 
							  </tr>
							  <tr>
								 <td>/api/test</td>
								 <td>GET</td>
								 <td>200</td>
								 <td>暂无</td>
								 <td>{"Content-Type": "application/json"}</td>
								 <td>{
										"request": {
											"method": "POST",
											"url": "/api/products",
											  "bodyPatterns": [
													 {"equalToJson" : "{ \"name\": \"new product\", \"creator\": \"tester\", \"createTime\": \"2015-09-07\" }", "jsonCompareMode": "LENIENT"}
											 ]
										},
										"response": {
											"status": 201,
											"body": "Add successfully.",
											 "headers":{
													   "x-token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
											 }
										}

									}</td>
								 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
								 
							  </tr>
							  <tr>
								 <td>/api/test</td>
								 <td>GET</td>
								 <td>200</td>
								 <td>暂无</td>
								 <td>{"Content-Type": "application/json"}</td>
								 <td>{
										"request": {
											"method": "POST",
											"url": "/api/products",
											  "bodyPatterns": [
													 {"equalToJson" : "{ \"name\": \"new product\", \"creator\": \"tester\", \"createTime\": \"2015-09-07\" }", "jsonCompareMode": "LENIENT"}
											 ]
										},
										"response": {
											"status": 201,
											"body": "Add successfully.",
											 "headers":{
													   "x-token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
											 }
										}

									}</td>
								 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
								 
							  </tr>
							  <tr>
								 <td>/api/test</td>
								 <td>GET</td>
								 <td>200</td>
								 <td>暂无</td>
								 <td>{"Content-Type": "application/json"}</td>
								 <td >{
										"request": {
											"method": "POST",
											"url": "/api/products",
											  "bodyPatterns": [
													 {"equalToJson" : "{ \"name\": \"new product\", \"creator\": \"tester\", \"createTime\": \"2015-09-07\" }", "jsonCompareMode": "LENIENT"}
											 ]
										},
										"response": {
											"status": 201,
											"body": "Add successfully.",
											 "headers":{
													   "x-token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
											 }
										}

									}</td>
								 <td><a href="#">编辑</a>|<a href="#">刪除</a></td>
								 
							  </tr>							  
						   </tbody>
						</table>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-primary">新增</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>
<script src="/static/bootstrap/js/jquery.jsonview.js"></script>
<script>
$(document).ready(function(){
	  $("td").click(function(){
			$(this).JSONView($(this).text());

		

});
});
</script>

</body>
</html>