<!DOCTYPE html>
<html>
<head>
<!-- header content -->
<% include("/header.html"){}%>
<link rel="stylesheet" href="/static/bootstrap/css/jquery.jsonview.css">

<!-- header content -->
</head>

<body>
<div class="container">
<!-- Nav Bar Content -->
<% include("/nav_bar.html",{timeTasklist:"active",CItest:"active"}){}%>
<!-- Nav Bar Content -->

<div class="container">
<div class="row">
<table class="table">
<caption>定时任务分组列表<div align="right" style="float:right"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">添加定时任务分组</button></div></caption>

<thead>
<tr>
<th class="fix_th">ID</th>
<th class="fix_th">任务名称</th>
<th class="fix_th">任务描述</th>
<th class="fix_th">cron表达式</th>
<th class="fix_th">运行状态</th>
<th class="fix_th">操作</th>
</tr>
</thead>
<tbody>
</tbody>
</table>

</div>


<!-- 列表 
<div class="row">
<div><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">添加定时任务分组</button></div>
<hr>
<div id="tasklist"></div>


</div>
-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加定时任务分组</h4>
					</div>
					<div class="modal-body">
						<div>
							<label class="col-sm-3 control-label">任务名称</label> <input
								type="text" class="form-control" id="taskName" placeholder="输入任务名称">
						</div>
						
						<div>
							<label class="col-sm-3 control-label">任务描述</label> <input
								type="text" class="form-control" id="taskdescribe" placeholder="输入任务描述">
						</div>
						<div>
							<label class="col-sm-3 control-label">CRON表达式</label> <input
								type="text" class="form-control" id="cronexpression" placeholder="输入CRON表达式,例如：* * * * * ？">
						</div>
						<div>
							<label class="col-sm-2 control-label">是否运行</label>
							<select class="form-control" id="isRun">
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" id="ts_add">提交</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
</div>




</div>
<script src="/static/bootstrap/js/jquery.jsonview.js"></script>
<script>
$(document).ready(function(){

	$.post("/task/group/list",{},function(data){
		if(data.code=="200"){

		var renderContent="";
		if(data.data.list.length==0||data.data.list.length==null){
		renderContent="<span>暂无内容！</span>"
		}
		for(var i = 0;i < data.data.list.length; i++ ){
//		renderContent += '<div class="panel panel-default col-xs-12"><div class="panel-body"><a href="/timetask/detail?groupId='+data.data.list[i].groupId+'">'+
//		data.data.list[i].groupName+'</a><hr>'+'CRON表达式：'+data.data.list[i].cronExpression+'<div align="right" style="float:right"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" name ="'+data.data.list[i].groupId+'">编辑</button></div><br>状态：'+getRunState(data.data.list[i].isrun)+'</div></div>';
		
		renderContent += "<tr id="+data.data.list[i].groupId+"><td>"+(i+1)+
		"</td><td><a href=/timetask/detail?groupId="+data.data.list[i].groupId+">"+data.data.list[i].groupName+
		"</a></td><td>"+data.data.list[i].groupDescribe+
		"</td><td>"+data.data.list[i].cronExpression+
		"</td><td>"+getRunState(data.data.list[i].isrun)+
		"</td><td><a href=\"#\">编辑</a>|<a class='delete' href=\"#\">刪除</a></td></tr>";
		
		}
		$("tbody").html(renderContent);

		}

		});
	
	function getRunState(isRun){
	if(isRun==0){
		return "<span class='label label-default' value = '0'>停止</span>"
	}else{
		return "<span class='label label-info' value = '1'>运行中</span>"
	}
	}
	
	$("#ts_add").click(function(){
		var taskName=$("#taskName").val();
		var taskdescribe=$("#taskdescribe").val();
		var cronexpression = $("#cronexpression").val();
		var isRun = $("#isRun").val();
		if(taskName==null||taskName==""){
		alert("任务名称不能为空！");
		return false;
		}

		$(this).text("提交中");
		$(this).attr("disabled","true"); //设置变灰按钮   
		setTimeout("$('#ts_add').removeAttr('disabled'),$('#ts_add').text('提交')",1000); //设置三秒后提交按钮 显示 
		
		$.post("/task/group/add",{groupName:taskName,groupDescribe:taskdescribe,cronExpression:cronexpression,isrun:isRun},function(data,status){
			if(data.code=="200"){
				$("#myModal").modal("hide")
				window.location.reload();
			}
			if(data.code=="400"){
				alert(data.message);
				}
			
			});	
		

		});	
		

		$("tbody").on("click",".delete",function(){
			var groupId = $(this).parent().parent().attr("id")
			if(groupId!=null||groupId!=""){
				if(confirm("是否要删除该条数据！")){
					$.post("/task/group/delete",{groupId:groupId},function(data,status){
						if(data.code=="200"){	
							window.location.reload();
						}
						if(data.code=="400"){
						alert(data.message);

						}
						});	
				}
			}

		});












});
</script>

</body>
</html>