<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.GroupTestcaseMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.GroupTestcase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cratetime" jdbcType="TIMESTAMP" property="cratetime" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="testcaseId" jdbcType="VARCHAR" property="testcaseid" />
  </resultMap>
</mapper>