<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TestcaseMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Testcase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="testcaseId" jdbcType="VARCHAR" property="testcaseid" />
    <result column="testcaseName" jdbcType="VARCHAR" property="testcasename" />
    <result column="requestContent" jdbcType="VARCHAR" property="requestcontent" />
    <result column="response" jdbcType="VARCHAR" property="response" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="requestType" jdbcType="INTEGER" property="requesttype" />
    <result column="verification" jdbcType="VARCHAR" property="verification" />
  </resultMap>
</mapper>